*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    --mainColor:#7C5340;
    --secondaryColor:#AE8165;
    --textColor:#ECDFD1;
    --btnMain:#E0AB80;
    --btnScondary:#DDBE9F;

}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--mainColor);
    color: var(--textColor);
}

.container{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.title{
    
    border:1px solid black;
    height: 400px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    
}

.title h1{
    font-size: 3rem;
    margin: bottom 0.5rem; 
    text-align: center;
}

.title p {
    text-align: center;
    font-size: 1.5rem;
}
.title-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.2rem;
    align-items:top;
}

.title-btn button{
    font-size: 0.9em;
    border-radius: 10px;
    border: none;
    background-color: var(--btnMain);
}
.title-btn button:hover{
    background-color: var(--mainColor);
    cursor: pointer;
}


.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#open-btn{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--btnMain);
    color: black;
    border: none;
}

#open-btn:hover,#open-btn:focus{
    cursor: pointer;
    background-color: var(--mainColor);
    color: var(--textColor);
    border: 1px solid var(--btnScondary);
}
