*,*::before,*::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.title{
    border:1px solid black;
    height: 300px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#open-btn{
    width: 100px;
    height: 50px;
    border-radius: 15px;
}

#open-btn:hover,#open-btn:focus{
    cursor: pointer;
}
